<!DOCTYPE html>
<html>
<head>
	<title>Top 100 Albums of All Time</title>
</head>
<body>
	<h1>Top 100 Albums of All Time</h1>
	<ol><% @albums.each do |album| %>
 		<li><%= album %></li>
	<% end %></ol>
</body>
</html>