<!DOCTYPE html>
<html>
<head>
  <title>Top 100 Albums of All Time</title>
  <meta charset="UTF-8">
</head>
<body>
	<h1>Top 100 Albums of All Time</h1>

	<table>
  	<th>

			<td>
				<form action="/sort_by_rank" method="get">
					<input type="submit" value="Rank">
				</form>
			</td>

  		<td>
        <form action="/sort_by_album" method="get">
          <input type="submit" value="Album">
        </form>
      </td>

		<td>
			<form action="/sort_by_album_title_length" method ="get">
				<input type="submit" value="Album Title Length">
			</form>
		</td>
  		<td>
        <form action="/sort_year" method="get">
          <input type="submit" value="Year">
        </form>
      </td>

  	</th>

	  <% @album_objects.each do |album| %>
  		<tr>
  			<td><%= album.rank %><td>
  			<td><%= album.title %><td>
  			<td><%= album.year %><td>
  		</tr>
		<% end %>
	</table>

</body>
</html>
